#bases{
  width: 60%;
  margin: 0 auto;
  background: #efefff;
  padding: 2em;
  margin-top: 2em;
  box-shadow: -5px 5px 30px #efefef;
  border: 1px solid #fafafa;
  border-top: 1px solid #ccc;

  h2{
    border-bottom: 1px solid #ccc;
  }

  p{
    padding: 1em;
    height: 250px;
    width: 100%;
    background: #ddd;
  }
}
